.activation {
  height: 100vh;
  overflow: hidden;
}

.activation .activation-content {
  text-align: center;
}

.activation .activation-content h1 {
  font-size: 90px;

}

.activation .activation-content h5 {

  padding-top: 20px;
}
