/* .decription-header {
  border: 5px;
  padding: 10px;
  height: 91vh;
  margin-right: 3px;
  box-shadow: -1px 1px 1px 2px #171616;
} */

/* .decription-header {
  background-color: #171616 !important;
  color: black;
  margin-left: 0.1cm;
} */
/* .card-header {
  background-color: #1e2021 !important;
} */
/* .card {
  background-color: #343a40 !important;
} */
/* .card-body {
  background-color: #e1ddf9;
  height: max-content;
} */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

.middelbody {
  height: 80vh;
  overflow-y: scroll;
}

.scrc {
  height: 300px;
  overflow-y: scroll;
}
