.resetPassword {
  height: 100vh;
  overflow: hidden;
}

.resetPassword form {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.resetPassword button {
  font-family: "Poppins", sans-serif;
  background-color: #691840;
  border-color: #691840;
  padding: 5px;
}

.resetPassword .resetPassword-img {
  width: 70%;
}
.resetPassword .resetPassword-content {
  padding-top: 100px;
  text-align: center;
  margin-left: -80px;
}

.resetPassword .resetPassword-content h1 {
  font-size: 50px;
  color: #691840;
}

.resetPassword .resetPassword-content h4 {
  color: red;
}
.resetPassword .resetPassword-content h5 {
  color: orange;
  padding-top: 20px;
}
