.resetPassword {
  height: 100vh;
  overflow: hidden;
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
}

.resetPassword form {
  padding-top: 30px;

}
.resetPassword form input{
  width: 300px;
}


.resetPassword button {
  font-family: "Poppins", sans-serif;
  background-color: #3d54d4;
  border-color: #7a8cec;
  padding: 5px;
}

.resetPassword .resetPassword-img {
  width: 70%;
}
.resetPassword .resetPassword-content {
  padding-top: 100px;
  text-align: center;
  margin-left: -80px;
}

