@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.ForgetPassword {
  padding-top: 2rem;
  text-align: center;
}
.ForgetPassword .jam-color {
  color: #6c63ff;
}
.ForgetPassword .new-here {
  color: "#0000008f";
}


.ForgetPassword form{
  margin-top: 30px;
}
.ForgetPassword form label {
  font-size: 13px;
  margin: 0px;
}
.ForgetPassword h1 {
  color: #6c63ff;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.ForgetPassword h5 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.ForgetPassword button {
  font-family: "Poppins", sans-serif;
  background-color: #6c63ff;
  border-color: #6c63ff;
  padding: 5px;
}

.ForgetPassword .social-ForgetPassword {
  text-align: center;
  padding-top: 20px;
}

.ForgetPassword .forget-pass {
  padding-top: 20px;
  text-align: center;
  color: #6c63ff;
  cursor: pointer;
  text-transform: capitalize;
}
.ForgetPassword .form_password{
  display: flex;
    flex-direction: column;
    align-items: center;
}